@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body{
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://www.teahub.io/photos/full/102-1028638_office-work-wallpapers-free-photos-office-work.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.nav-bar div{
  background-color: rgba(5, 30, 53, 0.719);
  color:darkgrey;
  text-shadow: 1px 1px 2px rgba(35, 53, 53, 0.767);
  width: 50%;
  margin:0;
  padding:15px;
}
.nav-bar a{
    color:darkgrey;
    text-decoration: none;
}
.nav-bar a:hover{
    color:rgb(235, 235, 235);
    text-decoration: none;
}

.alinhamento-a-esquerda{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}
.alinhamento-a-esquerda span{
    padding: 10px;
}

.tarefas{
  margin-top: 15px;
  color:rgba(5, 30, 53, 0.904);
  background-color: rgba(236, 235, 231, 0.747);
  border-radius: 15px;
  padding: 15px;
}

.editar-tarefa{
  width: 250px;
}

.tarefa-descricao{
  min-width: 80%;
}
.tarefa-aberta{
  width: max-content;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgba(201, 143, 67, 0.788);
}
.tarefa-fechada{
  width: max-content;
  border-radius: 5px;
  margin: 5px;
  padding: 0px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: rgba(34, 177, 177, 0.788);
}

table{
  margin:0;
  padding: 25px;
  min-width: 900px;
  text-align: start;
}
.tabela-text-centro{
    text-align: center;
    font-size: large;
}
input{
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: inset 1px 1px 2px rgba(128, 128, 128, 0.623);
    background-color: rgba(191, 219, 219, 0.664);
}
button{
    padding: 5px;
    border-radius: 5px;
    color: rgba(191, 219, 219, 0.664);
    background-color: rgba(31, 31, 116, 0.849);
    border-color: transparent;
    box-shadow: 1px 1px 2px rgba(32, 32, 32, 0.623);
}
button:hover{
    padding: 5px;
    border-radius: 5px;
    color:rgb(235, 235, 235);
    background-color: rgba(31, 31, 116, 0.849);
    border-color: transparent;
    box-shadow: 1px 1px 2px rgba(32, 32, 32, 0.623);
}

.edit-link a:hover{
    color: rgba(202, 114, 7, 0.904);
    text-decoration: none;
}
.remove-link a:hover{
    color: rgba(206, 9, 2, 0.945);
    text-decoration: none;
}
.check-link a:hover{
    color: rgba(4, 148, 76, 0.945);
    text-decoration: none;
}